@font-face {
  font-family: "W-Sans-Reg";
  src: url(../FONTS/WorkSans-Regular.ttf);
}
@font-face {
  font-family: "W-Sans-Bold";
  src: url(../FONTS/WorkSans-Bold.ttf);
}
@font-face {
  font-family: "W-Sans-Med";
  src: url(../FONTS/WorkSans-Medium.ttf);
}
@font-face {
  font-family: "W-Sans-Light";
  src: url(../FONTS/WorkSans-Light.ttf);
}
@font-face {
  font-family: "W-Sans-SemiBold";
  src: url(../FONTS/WorkSans-SemiBold.ttf);
}
@font-face {
  font-family: "W-Sans-Italic";
  src: url(../FONTS/WorkSans-Italic.ttf);
}
@font-face {
  font-family: "Outf-Light";
  src: url(../FONTS/Outfit-Light.ttf);
}
@font-face {
  font-family: "Outf-Reg";
  src: url(../FONTS/Outfit-Regular.ttf);
}
@font-face {
  font-family: "Outf-Med";
  src: url(../FONTS/Outfit-Medium.ttf);
}
@font-face {
  font-family: "Op-Sans-Reg";
  src: url(../FONTS/OpenSans-Regular.ttf);
}
body {
  width: 1440px;
  background-image: url(../IMG/background.png);
  font-family: "W-Sans-Reg", "Outf-Light";
}
.main__widthcontrol-1 {
  width: 1110.47px;
  margin-left: 164px;
  margin-right: 164px;
}
.main__widthcontrol-2 {
  width: 1110.47px;
  margin-left: 164px;
  margin-right: 164px;
}
.header__line {
  background-color: #84babe;
  height: 0.8px;
  width: 1440px;
}
.main {
  background-color: #deecec;
  font-family: "W-Sans-Reg", "Outf-Light";
  height: auto;
}
.explore {
  display: flex;
  justify-content: space-between;
}
.explore__uppersubtitle {
  color: #589195;
  font-family: "Outf-Reg";
  font-size: 20px;
  margin-top: 190px;
  width: 195px;
}
.explore__title {
  color: #3a415c;
  font-family: "Outf-Med";
  font-size: 50px;
  margin-top: 20px;
  width: 420px;
  letter-spacing: 0;
  font-weight: 500;
  line-height: 60px;
}

.explore__subtitle {
  color: #707686;
  font-family: "W-Sans-Light";
  font-size: 18px;
  margin-top: 15px;
  margin-left: 2px;
  width: 534px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0;
}

.explore__container {
  width: 534px;
}

.explore__man {
  width: 470px;
  height: 562px;
  margin-top: 43px;
}

.explore__rightsidemain {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  height: 690px;
  margin-bottom: 63px;
  justify-content: center;
}
.explore__dots3 {
  width: 88px;
  height: 24px;
  align-self: flex-end;
  margin-bottom: 21px;
  margin-right: 18px;
}
.explore__button {
  display: block;
  background-color: #589195;
  border-radius: 38px;
  width: 170px;
  height: 50px;
  color: #ffffff;
  height: 50px;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  font-family: "Outf-Reg";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.header__icons {
  display: flex;
  justify-content: space-between;
  width: 132px;
  align-items: center;
  margin-top: 8px;
}

.header__icons-3 {
  margin-bottom: 5px;
}

.header {
  list-style-type: none;
  font-family: "W-Sans-Reg";
  scroll-margin-top: 1em;
  position: sticky;
  top: 0;
  background-color: #deecec79;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  font-family: "W-Sans-Reg";
  margin-left: 165px;
  margin-right: 164px;
}

.header__list {
  display: flex;
  align-items: center;
  list-style: none;
  width: 615px;
  justify-content: space-around;
  font-family: "W-Sans-Reg";
  margin-left: 25px;
}

.header__list-li:not(:last-child) {
  margin: 0 43px 0 0;
}
.header__list-li a {
  font-weight: 500;
  color: #6a7087;
  text-decoration: none;
  font-family: "W-Sans-Reg";
  font-size: 18px;
  margin-right: 4px;
}

.header__list-li a:hover {
  color: #2c5f63;
  font-family: "W-Sans-Med";
}
.header__logo {
  margin-top: 17px;
}

.header__overlay {
  background-color: #84babe;
  height: 2px;
  width: 59px;
  margin-right: 968px;
  margin-left: 413px;
}

.advantages__pr-1,
.advantages__pr-2,
.advantages__pr-3,
.advantages__pr-4 {
  align-items: flex-end;
  width: 200px;
}

.advantages__pr-1,
.advantages__pr-2,
.advantages__pr-4 {
  align-items: center;
  width: 196px;
  height: 153px;
  color: #7f8698;
}

.advantages__pr-3 {
  align-items: center;
  width: 204px;
  height: 153px;
  color: #7f8698;
}

.advantages__pr-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54.5px;
  width: 69px;
}

.advantages__pr-cont3 {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 54.5px;
  width: 69px;
}
.advantages {
  display: flex;
  width: 1110.47px;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}

.advantages__title {
  color: #34394c;
  font-family: "W-Sans-Med";
  font-size: 18px;
  width: 153px;
  height: 40;
  line-height: 40px;
}

.advantages__description {
  color: #7f8698;
  font-family: "W-Sans-Light";
  font-size: 16px;
  line-height: 25px;
  width: 200px;
}

.arrival__section-name {
  font-family: "Outf-Reg";
  font-size: 50px;
  line-height: 60px;
  margin-top: 60px;
  color: #34394c;
}

.arrival__section-descr {
  font-family: "W-Sans-Light";
  font-size: 18px;
  line-height: 28px;
  color: #707686;
  margin-top: 12px;
  margin-bottom: 35px;
}
.arrival__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.arrival__card {
  width: 260px;
  height: 492px;
  margin-top: 2px;
}
.arrival__card-block {
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f8fc;
  width: 255px;
  height: 330px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  padding: 12px 11px 15px 15px;
  margin-bottom: 10px;
  margin-top: 3px;
}
.arrival__card-blockconts {
  display: flex;
  width: 255px;
  align-items: center;
  justify-content: space-between;
  align-self: flex-start;
  margin-top: 1px;
  margin-left: 1px;
}
.arrival__block-contsleftcontcard {
  color: #ffffff;
  background-color: #31797e;
  font-family: "Outf-Light";
  font-size: 12px;
  line-height: 20px;
  width: 38px;
  height: 18px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}
.arrival__block-contsleftcontcard4 {
  font-family: "Outf-Light";
  font-size: 12px;
  line-height: 25px;
  width: 38px;
  height: 22px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  visibility: hidden;
}
.arrival__block-contsrightcontcard {
  color: #ffffff;
  background-color: #f04726;
  font-family: "Outf-Light";
  font-size: 12px;
  border-radius: 2px;
  line-height: 20px;
  width: 38px;
  height: 16px;
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}
.arrival__block-contsrightcontcard4 {
  color: #ffffff;
  background-color: #31797e;
  font-family: "Outf-Light";
  font-size: 12px;
  line-height: 25px;
  border-radius: 2px;
  width: 38px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  margin-top: 4px;
}
.rightcontcard-3 {
  font-family: "Outf-Light";
  font-size: 12px;
  line-height: 25px;
  border-radius: 2px;
  width: 38px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  visibility: hidden;
}

.arrival__card-c1n1 {
  margin-bottom: 27px;
}
.arrival__card-c1n2 {
  margin-bottom: 34px;
  margin-left: 3px;
}
.arrival__card-c1n3 {
  margin-bottom: 35px;
  margin-left: 4px;
}
.arrival__card-c1n4 {
  margin-bottom: 29px;
  margin-left: 7px;
}
.arrival__revcom {
  color: #7f8698;
  font-family: "W-Sans-Light";
  font-size: 16px;
  line-height: 25px;
  margin-left: 9px;
  margin-top: 2px;
}
.arrival__card-name {
  color: #34394c;
  font-family: "W-Sans-Med";
  font-size: 22px;
  line-height: 40px;
  margin-top: 12px;
  margin-left: 3px;
}
.arrival__card-size {
  display: flex;
  width: 90px;
  justify-content: space-between;
  margin-left: 125px;
  margin-top: 6px;
}
.arrival__card-size li {
  display: flex;
  color: #a2a5ad;
  text-decoration: none;
  font-family: "Outf-Med";
  font-size: 16px;
  width: 25px;
  height: 25px;
  display: inline;
  border-radius: 2px;
  border: 0.8px solid #a2a5ad;
}
.arrival__card-size li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}
.arrival__rating {
  display: flex;
  justify-content: center;
  width: 174px;
  height: 24px;
  align-items: center;
}
.arrival__card-bottominfo {
  display: flex;
}
.arrival__card-bottominfo3 {
  display: flex;
}
.arrival__card-price3 {
  color: #969dad;
  text-decoration: line-through;
  font-family: "W-Sans-Reg";
  font-size: 20px;
  width: 54px;
  display: inline;
  margin-top: 8px;
  margin-left: 21px;
}
.arrival__card-price {
  color: #297176;
  font-family: "W-Sans-SemiBold";
  font-size: 25px;
  margin-top: 6px;
  margin-left: 2px;
}

.sale {
  display: flex;
  margin-top: 130px;
  justify-content: space-between;
  width: 1135px;
  margin-left: 126px;
}

.sale__right {
  margin-top: 23px;
  margin-right: 25px;
  margin-left: 112px;
}
.sale__text-up {
  color: #589195;
  font-family: "Outf-Reg";
  font-size: 20px;
  width: 195px;
  margin-bottom: 25px;
}
.sale__text-mid {
  color: #3a415c;
  font-family: "Outf-Med";
  font-size: 50px;
  width: 533px;
  font-weight: 500;
}
.sale__text-down {
  color: #707686;
  font-family: "W-Sans-Light";
  font-size: 18px;
  width: 519px;
  line-height: 28px;
  letter-spacing: 0;
  margin-top: 13px;
}
.sale__right-price {
  display: flex;
  margin-top: 10px;
}
.sale__right-price1 {
  font-family: "Outf-Med";
  font-size: 50px;
  width: 110px;
  color: #589195;
  margin-top: 11px;
}
.sale__right-price2 {
  font-family: "Outf-Reg";
  font-size: 24px;
  width: 57px;
  color: #5b6075;
  margin-top: 30px;
  margin-left: 15px;
  text-decoration: line-through;
}
.sale__right-button {
  display: block;
  background-color: #589195;
  border-radius: 38px;
  width: 159px;
  height: 50px;
  color: #ffffff;
  height: 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 19px;
  margin-left: 73px;
  font-family: "Outf-Reg";
  font-size: 18px;
  line-height: 60px;
  white-space: nowrap;
}
.sale__right-ends {
  font-family: "Outf-Reg";
  font-size: 20px;
  line-height: 60px;
  margin-top: 15px;
}
.sale__right-timer {
  width: 413px;
}
.sale__right-timernumbers {
  display: flex;
  align-items: center;
  height: 128px;
  width: 420px;
  justify-content: space-around;
}
.sale__timer-numberssingle {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  height: 128px;
  width: 83px;
}
.sale__numbers-singlebg {
  display: flex;
  width: 83px;
  height: 83px;
  border-radius: 50px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
}
.sale__numbers-singlenm {
  font-family: "Outf-Light";
  font-size: 30px;
  margin-bottom: 3px;
  margin-right: 8px;
}
.sale__numbers-singletxt {
  font-family: "Outf-Med";
  font-size: 16px;
  line-height: 47px;
  margin-left: 23px;
}
.sale__timer-numberssvg {
  margin-bottom: 36px;
}

.featured {
  height: 1178px;
  width: 1114px;
  margin-left: 164px;
  margin-right: 164px;
}
.featured__text-up {
  color: #3a415c;
  font-family: "Outf-Med";
  font-size: 50px;
  width: 533px;
  margin-top: 208px;
}
.featured__text-down {
  color: #707686;
  font-family: "W-Sans-Light";
  font-size: 18px;
  width: 365px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0;
  margin-left: 1px;
  margin-bottom: 2px;
}
.featured__text-long {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-right: 3px;
  justify-content: space-between;
}
.featured__list {
  display: flex;
  align-items: center;
  list-style: none;
  width: 489px;
  justify-content: space-between;
  font-family: "W-Sans-Reg";
  margin-left: 30px;
  padding-bottom: 8px;
}
.featured__list-li a {
  color: #afb4c4;
  text-decoration: none;
  font-family: "Outf-Light";
  font-size: 26px;
}
.featured__list-li a:hover {
  color: #34394c;
}
.featured__cards {
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card__bottominfo-f {
  display: flex;
  justify-content: space-between;
}
.featured__cards-row2 {
  margin-top: 58px;
  margin-left: 2px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1110px;
}
.card__price-f3 {
  color: #969dad;
  text-decoration: line-through;
  font-family: "W-Sans-Reg";
  font-size: 20px;
  width: 54px;
  display: inline;
  margin-left: 15px;
  margin-top: 2px;
}
.card__price-f {
  color: #297176;
  font-family: "W-Sans-SemiBold";
  font-size: 25px;
  margin-top: 10px;
  margin-left: 2px;
  margin-bottom: 0px;
}
.card__block-f {
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f8fc;
  width: 255px;
  height: 330px;
  border-radius: 4px;
  margin-bottom: 10px;
  justify-content: center;
}
.card__block-conts-f {
  display: flex;
  width: 228px;
  height: 23px;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  margin-top: 12px;
  margin-left: 3px;
}

.card__conts-leftcontcardf {
  color: #ffffff;
  background-color: #31797e;
  font-family: "Outf-Light";
  font-size: 12px;
  line-height: 25px;
  width: 38px;
  height: 16px;
  border-radius: 2px;
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}
.card__conts-rightcontcardf {
  color: #ffffff;
  background-color: #f04726;
  font-family: "Outf-Light";
  font-size: 12px;
  border-radius: 2px;
  line-height: 20px;
  width: 38px;
  height: 16px;
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}
.card__conts-leftcontcardf4 {
  font-size: 12px;
  line-height: 25px;
  width: 38px;
  height: 16px;
  border-radius: 2px;
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  visibility: hidden;
}
.card__conts-rightcontcardf4 {
  color: #ffffff;
  background-color: #31797e;
  font-family: "Outf-Light";
  font-size: 12px;
  border-radius: 2px;
  line-height: 20px;
  width: 38px;
  height: 16px;
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}
.card__c2-1 {
  height: 260px;
  align-self: flex-end;
}
.card__c2-2 {
  height: 246px;
  align-self: flex-end;
  margin-right: 35px;
}
.card__c2-3 {
  height: 246px;
  align-self: flex-end;
  margin-left: 21.5px;
}
.card__c2-4 {
  height: 268px;
  align-self: flex-end;
  margin-right: 9.5px;
}
.card__c2-5 {
  height: 243px;
  align-self: flex-end;
  margin-right: 7px;
  margin-bottom: 4px;
}
.card__c2-6 {
  height: 268px;
  align-self: flex-end;
  margin-right: 12px;
  margin-bottom: 4px;
}
.card__c2-7 {
  height: 252px;
  align-self: flex-end;
  margin-right: 7px;
  margin-bottom: 4px;
}
.card__c2-8 {
  height: 255px;
  align-self: flex-end;
  margin-right: -7px;
}
.card__conts-leftcontcardf3 {
  width: 38px;
  height: 22px;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  visibility: hidden;
}
.card__conts-rightcontcardf3 {
  color: #ffffff;
  background-color: #31797e;
  font-family: "Outf-Light";
  font-size: 12px;
  line-height: 25px;
  border-radius: 2px;
  width: 38px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}
.card__size-f {
  display: flex;
  width: 90px;
  justify-content: space-between;
  margin-left: 115px;
  margin-top: 17px;
}
.card__size-f li {
  display: flex;
  color: #a2a5ad;
  text-decoration: none;
  font-family: "Outf-Med";
  font-size: 16px;
  width: 25px;
  height: 25px;
  display: inline;
  border-radius: 2px;
  border: 0.8px solid #a2a5ad;
}
.card__size-f li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}
.card__conts-rightcontcardf3 {
  width: 38px;
  height: 22px;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  visibility: hidden;
}
.card__colors {
  margin-top: 23px;
}
.card__name-f {
  color: #34394c;
  font-family: "W-Sans-Med";
  font-size: 22px;
  line-height: 40px;
  margin-top: 12px;
  margin-bottom: 5px;
}
.card__revcom {
  color: #7f8698;
  font-family: "W-Sans-Light";
  font-size: 16px;
  line-height: 25px;
  margin-left: 9px;
  margin-top: 2px;
}
.card__rating {
  display: flex;
  justify-content: center;
  width: 174px;
  height: 24px;
  align-items: center;
}

.shopnow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 21px;
}
.shopnow__women {
  display: flex;
  align-items: center;
  background-color: #e9e6f0;
  width: 540px;
  height: 325px;
  margin-top: 64px;
}
.shopnow__text {
  margin-left: 50px;
  width: 196px;
  height: 162px;
  margin-top: 20px;
}
.shopnow__text-1 {
  font-family: "Outf-Reg";
  font-size: 14px;
  line-height: 40px;
  color: #589195;
}

.shopnow__text-2 {
  font-family: "Outf-Reg";
  font-size: 30px;
  color: #34394c;
  line-height: 35px;
}

.shopnow__text-3m {
  font-family: "W-Sans-Reg";
  font-size: 18px;
  line-height: 28px;
  margin-top: 15px;
  text-decoration: underline;
}
.shopnow__text-3w {
  font-family: "W-Sans-Reg";
  font-size: 18px;
  line-height: 28px;
  margin-top: 15px;
}
.shopnow__women-img {
  align-self: flex-end;
  height: 285px;
  width: 303px;
}
.shopnow__men {
  display: flex;
  align-items: center;
  background-color: #f6ebd9;
  width: 540px;
  height: 325px;
  margin-top: 64px;
}
.shopnow__men-img {
  align-self: flex-end;
  height: 278px;
  width: 197px;
  margin-left: 51px;
}

.shopbycat {
  margin-top: 80px;
}
.shopbycat__text-title {
  font-family: "Outf-Reg";
  font-size: 50px;
  line-height: 60px;
  color: #34394c;
  margin-top: 80px;
}
.shopbycat__text-subtitle {
  color: #707686;
  font-family: "W-Sans-Light";
  font-size: 18px;
  margin-top: 1px;
  margin-top: 19px;
}
.shopbycat__menu {
  display: flex;
  justify-content: space-between;
  font-family: "Outf-Reg";
  font-size: 18px;
  line-height: 28px;
  width: 1110px;
  height: 291px;
  margin-top: 55px;
}
.shopbycat__menu-point {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 255px;
  height: 291px;
  align-items: center;
}
.shopbycat__menu-img {
  width: 255px;
  height: 190px;
}

.shopbycat__menu-pname {
  font-family: "Outf-Reg";
  font-weight: 400;
  font-size: 28px;
  line-height: 60px;
  color: #34394c;
  width: 122px;
  height: 60px;
  text-align: center;
  margin-top: 8px;
}

.shopbycat__menu-pitems {
  font-family: "Outf-Reg";
  font-weight: 400;
  font-size: 16px;
  color: #bfbfbf;
  width: 66px;
  height: 60px;
  text-align: center;
  margin-top: -10px;
}

.reviews {
  width: 1110px;
  height: 396px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 204px;
}
.reviews__top {
  width: 1110px;
  height: 396px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews__text {
  width: 365px;
  height: 206px;
  margin-top: -51px;
  margin-left: -67px;
  margin-right: -18px;
}
.reviews__text-title {
  width: 311px;
  height: 125px;
  font-family: "Outf-Reg";
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  color: #34394c;
}
.reviews__text-subtitle {
  width: 365px;
  height: 60px;
  font-family: "W-Sans-Light";
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #707686;
  margin-top: -8px;
  margin-bottom: 5px;
}
.reviews__card {
  width: 350px;
  height: 396px;
  background-color: #ffffff;
  padding: 57px 32px 27px 32px;
  margin-left: 36px;
}
.reviews__card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 37px;
  padding-bottom: 1px;
}
.reviews__card-text {
  width: 286px;
  height: 206px;
  font-family: "W-Sans-Italic";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #707686;
  margin-top: 16px;
  margin-right: -18px;
}
.reviews__card-bottom {
  width: 224px;
  height: 81px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.reviews__card-profession {
  width: 83px;
  height: 59px;
  font-family: "Outf-Reg";
  font-weight: 400;
  font-size: 12px;
  color: #b4b9c7;
  margin-top: 10px;
}
.reviews__card-name {
  width: 169px;
  height: 16px;
  font-family: "Outf-reg";
  font-weight: 400;
  font-size: 20px;
  color: #34394c;
}
.reviews__card-logo {
  width: 43px;
  height: 43px;
}
.reviews__card-info {
  width: 169px;
  height: 81px;
  display: flex;
  flex-wrap: wrap;
}
.reviews__bottom {
  display: block;
  position: relative;
  left: 381px;
  top: 235px;
}
.brands {
  width: 832px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 195px;
  margin-left: 137px;
}
.brands__img {
  margin-right: -13px;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  margin-top: 128px;
}
.footer__info-subt {
  width: 350px;
  height: 56px;
  font-family: "W-Sans-Light";
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #707686;
  margin-top: 11px;
}
.footer__info-form {
  padding: 6px 6px 0px 14px;
  background-color: #ffffff;
  width: 236px;
  height: 40px;
  display: inline-flex;
  margin-top: 24px;
}
.footer__info-input {
  width: 96px;
  height: 28px;
  font-family: "W-Sans-Light";
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.03em;
  color: #aeb0b8;
}
.footer__info-send {
  width: 14px;
  height: 9px;
  margin-top: 7px;
  margin-left: 102px;
}
.footer__info-socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 26px;
  width: 94px;
}
.footer__adr {
  width: 184px;
  height: 153px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.footer__title {
  font-family: "W-Sans-Med";
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 17px;
}
.footer__adr-location {
  font-family: "W-Sans-Light";
  font-size: 14px;
  line-height: 24px;
  width: 160px;
}
.footer__adr-location a {
  margin-left: -16px;
  position: relative;
  left: 20px;
}
.footer__adr-phone {
  font-family: "W-Sans-Light";
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 8px;
}
.footer__adr-phone a {
  position: relative;
  left: 5px;
}
.footer__adr-mail a {
  position: relative;
  left: 1px;
}
.footer__adr-mail {
  font-family: "W-Sans-Light";
  font-size: 18px;
  line-height: 28px;
}
.footer__links,
.footer__categs {
  font-family: "W-Sans-Light";
  font-size: 14px;
  line-height: 24px;
}
.footer__links {
  margin-right: 41px;
  margin-bottom: 13px;
}

.footer__categs {
  width: 188px;
  height: 149px;
  margin-right: 10px;
  margin-bottom: 13px;
}
.footer__categs-ul {
  display: flex;
}
.footer__categs-right {
  display: flex;
  flex-direction: column;
  margin-left: 65px;
}
.footer__categs-left {
  display: flex;
  flex-direction: column;
}
.footer__title-last {
  font-family: "W-Sans-Med";
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 17px;
  margin-right: 10px;
}
.footer__right {
  display: flex;
  width: 685px;
  align-items: center;
  justify-content: space-between;
}
.footer__bottom {
  width: 100%;
}
.footer__bottom-line {
  background-color: #ccd2de;
  height: 1px;
  width: 100%;
  margin-top: 29px;
}
.footer__bottom-copyright {
  width: 177px;
  height: 26px;
  font-family: "W-Sans-Med";
  font-size: 18px;
  line-height: 26px;
  color: #707686;
  margin-top: 11px;
}
.footer__bottom-other {
  width: 300px;
  height: 15px;
  font-family: "Op-Sans-Reg";
  font-size: 14px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: 0.02em;
  color: #707686;
  justify-content: space-evenly;
  margin-top: 16px;
  margin-right: -21px;
}

.footer__bottom-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__burger {
  display: none;
}

@media screen and (max-width: 370px) {
  .main {
    width: 950px;
    display: flex;
    padding: 0 30px 0 30px;
    justify-content: center;
    flex-wrap: wrap;
  }
  body {
    background-image: url(../IMG/mob-background.png);
  }
  .featured__cards-row2 {
    justify-content: space-around;
  }
  .header__line {
    display: none;
  }
  .header__burger {
    display: block;
    width: 20px;
    height: 16px;
    margin-left: 85px;
    margin-top: 10px;
  }
  .header__list {
    display: none;
  }
  .header {
    width: 550px;
    display: flex;
    border-bottom: 0.8px solid #84babe;
  }
  .explore__man {
    width: auto;
  }
  .header__nav {
    display: flex;
    align-items: center;
    height: 100px;
    font-family: "W-Sans-Reg";
    position: relative;
    width: 30%;
    margin: 10px 0px 0px 0px;
  }
  .header__logo {
    margin-right: 33px;
    margin-top: 14px;
  }
  .explore {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .explore__container {
    width: auto;
    flex-wrap: wrap;
  }
  .header__overlay {
    display: none;
  }
  .advantages {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: -83px;
  }

  .main__widthcontrol-1 {
    width: 66%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .main__widthcontrol-2 {
    width: 66%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 3600px;
  }
  .arrival {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .arrival__section-name {
    align-self: center;
  }
  .arrival__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .sale {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    margin-top: 130px;
    width: 1135px;
    margin-left: 0px;
  }
  .sale__right {
    margin: 23px 0 0 0;
  }
  .explore__uppersubtitle {
    margin-top: 62px;
  }
  .explore__man {
    margin-top: -33px;
  }
  .explore__dots3 {
    margin-bottom: 112px;
  }
  .featured__text-up {
    margin-top: 118px;
  }
  .featured {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
  }
  .featured__cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
  }
  .reviews__bottom {
    display: none;
  }
  .reviews__text {
    width: auto;
    margin-left: 10px;
  }
  .featured__text-long {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 40%;
  }
  .featured__text-up {
    width: auto;
    padding-right: 10px;
  }
  .featured__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
  .featured__list {
    display: flex;
    align-items: center;
    list-style: none;
    width: 633px;
    justify-content: space-between;
    font-family: "W-Sans-Reg";
    padding-bottom: 8px;
  }
  .shopnow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }
  .shopnow__men {
    margin: 0px;
  }
  .shopbycat {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    margin-top: 0px;
  }
  .shopbycat__menu {
    display: flex;
    height: 600px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .shopbycat__text-title {
    margin-top: 0px;
  }
  .reviews {
    margin-top: 45px;
    display: flex;
    width: 60%;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 32%;
  }
  .reviews__top {
    display: flex;
    width: 60%;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .reviews__card {
    margin: 0px;
  }
  .brands {
    height: 210px;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 102px;
    margin-top: -13px;
    margin-left: 4px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .brands__img {
    margin-right: -13px;
    margin-top: 10px;
    margin-right: 22px;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
    flex-direction: column;
    margin-top: -140px;
    width: 70%;
    height: auto;
  }
  .footer__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }
  .footer__info {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .footer__bottom {
    width: 100%;
  }
  .footer__info-socials {
    margin-left: 10px;
  }
  .footer__bottom-other {
    width: 300px;
    height: 15px;
    font-family: "Op-Sans-Reg";
    font-size: 11px;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    letter-spacing: 0.02em;
    color: #707686;
    justify-content: center;
    margin-top: 2px;
    margin-right: -21px;
    align-content: center;
    flex-wrap: wrap;
  }
  .footer__bottom-copyright {
    width: auto;
  }
}
